attrs~=23.1.0
Django~=5.0.3
asgiref~=3.8.1
sqlparse~=0.4.4
psycopg2~=2.9.9
colorama~=0.4.6
requests~=2.31.0
charset-normalizer==3.3.2
dulwich==0.21.5
pytest==7.4.2
pytest-cov==4.1.0
python-dotenv==1.0.1
pillow==10.2.0
urllib3==2.2.0
virtualenv==20.24.3
pip~=24.0
ipython==8.23.0
pytils~=0.4.1
asgiref~=3.8.1
crispy~=0.7.4