{% extends 'catalog/base_1.html' %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Удаление блога</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Хотите удалить блог - {{ object.title }}?</p>
                    <div class="mb-3">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Удалить</button>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'blog:blog_list' %}" class="w-100 btn btn-lg btn-outline-primary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}