{% extends 'catalog/templates/base_1.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p> Удалить товар: "{{ object.product_name }}" ? </p>
                        <button Type="submit" class="btn btn-success"> Удалить </button>
                    </form>
                    <a href="{% url 'catalog:product_list' %}" class="btn btn-success" style="margin-top: 10px;"> Назад </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}