{% extends 'catalog/templates/base_1.html' %}
{% block content %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data" class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if object %}
                        Изменить
                        {% else %}
                        Добавить продукт
                        {% endif %}
                    </h3>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        {% if formset %}
        <div class="col-6">
            <h3 class="card-title"
            >Версии товара
            </h3>
            <div class="card">
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}