<div class="col">
    <div class="card shadow-sm">
        <rect width="100%" height="100%" fill="#55595c"/>

        <img src="/media/pic.png" class="card-img-top">
        <div class="card-body">
            <p class="card-text">{{ object.category_name }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href={% url 'catalog:categories' %} type="button" class="btn btn-sm btn-outline-secondary">
                        Описание</a>
                    <a href={% url 'blog:blog_list' %} type="button" class="btn btn-sm btn-outline-secondary">
                        Блог</a>


                </div>

            </div>
        </div>
    </div>
</div>