{% extends 'catalog/templates/../base_1.html' %}
{% block content %}
{#<div class="col-12 mb-5">#}
{#    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>#}
{#</div>#}
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object|title }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object.category }}</li>
                        <li>- {{ object.description | truncatechars:100 }}</li>
                        <li>- {{ object.active_version }}</li>
                    </ul>
                    <a href="{% url 'catalog:product_detail' object.pk %}" class="w-20 btn btn-lg btn-outline-primary">О товаре</a>
                    {% comment %}<a href="{% url 'catalog:update_product' object.pk %}" class="w-20 btn btn-lg btn-outline-primary">Изменить</a>
                    <a href="{% url 'catalog:delete_product' object.pk %}" class="w-20 btn btn-lg btn-outline-primary">Удалить</a>{% endcomment %}
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    {% endblock %}